body{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(26, 25, 25); /*Altera a cor de fundo*/
    
}
main{
    display: block;
    width: 300px;
    background-color: rgb(0, 0, 0); /*Altera a cor de fundo*/
    margin: 10px 10px 10px 10px;
    border-radius: 8px;
    border-color: aliceblue;
    padding: 10px;
}
#bloc1{
    display: flex;
    margin-top: 8px;
    background-color: rgb(31, 30, 30); /*Altera a cor de fundo*/
    align-items: center;
    justify-items: center;
    color: white;
    border-radius: 10px;
    height: 100px;
}
#imgperf{
    display:inline-block;
    width: 60px;
    height: 60px;
    border-radius: 15px;
    border: 2px solid rgb(1, 226, 69) ; /*Altera a cor da borda*/
    margin: 15px;
    overflow: hidden; /* Garante que o conteúdo extra será cortado */
}
#imgperf > img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta a imagem ao container respeitando proporções */
}
#bloc1 > #nome {
    display: inline-block;
    width: 200px;
    height: 50px;
    margin: 15px;
    font-weight: bold;
}
h3{
    margin: -5px 0px -17px 0px;
}
h4{
    color: rgb(1, 226, 69); /*Altera a cor da letra*/
    padding: 4px;
}
#bloc2{
    background-color:rgb(31, 30, 30) ; /*Altera a cor de fundo*/
    color: white;
    border-radius: 10px;
    height: 80px;
}
#html{
    color:rgba(1, 226, 68, 0.644); /*Altera a cor da letra*/
    display: inline-flex;
    font-size: 25px;
    margin: -10px 5px 10px 10px;
}
#css{
    color: rgba(1, 226, 68, 0.644); /*Altera a cor da letra*/
    display: inline-flex;
    font-size: 25px;
    margin: -10px 5px 10px 10px;
}
#c{
    color: rgba(1, 226, 68, 0.644); /*Altera a cor da letra*/
    display: inline-flex;
    font-size: 25px;
    margin: -10px 5px 10px 10px;
}
#js{
    color: rgba(1, 226, 68, 0.644); /*Altera a cor da letra*/
    display: inline-flex;
    font-size: 25px;
    margin: -10px 5px 10px 10px;
}
#python{
    color: rgba(1, 226, 68, 0.644); /*Altera a cor da letra*/
    display: inline-flex;
    font-size: 25px;
    margin: -10px 5px 10px 10px;
}
.icones{
    display: flex;
    justify-content: center;
}
#tiktok{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Necessário para posicionar o link sobre o outro */
    background-color:rgb(31, 30, 30);  /*Altera a cor de fundo*/
    height: 50px;
    width: 50px;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    
}
#tiktok > i{
    font-size: 25px;
    font-weight: bold;
}

#instagram{
    display: inline-flex;
    justify-content: center; /* Responsável por alinhar a img do icone no centro da div */
    align-items: center;
    position: relative; /* Necessário para posicionar o link sobre o outro */
    background-color:rgb(31, 30, 30) ; /*Altera a cor de fundo*/
    height: 50px;
    width: 50px;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
}
#instagram > i{
    font-size: 25px;
    font-weight: bold;
}
#github{
    display: inline-flex;
    justify-content: center; /* Responsável por alinhar a img do icone no centro da div */
    align-items: center;
    position: relative; /* Necessário para posicionar o link sobre o outro */
    background-color:rgb(31, 30, 30) ; /*Altera a cor de fundo*/
    height: 50px;
    width: 50px;
    margin: 10px 10px 10px 10px;
    border-radius: 10px; 
}
#github > i {
    font-size: 25px;
    font-weight: bold;
}
#linkedin{
    display: inline-flex;
    position: relative; /* Necessário para posicionar o link sobre o outro */
    background-color:rgb(31, 30, 30) ; /*Altera a cor de fundo*/
    height: 50px;
    width: 50px;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
}
#linkedin > i {
    font-size: 25px;
    font-weight: bold;
}
.linkredirecionado{
    display: flex;
    opacity: 0;  /* Torna o link invisível */
    visibility: visible;  /* Garante que o link ainda ocupe o espaço */
    color: inherit;           /* Herda a cor do elemento */
    text-decoration: none;    /* Remove o sublinhado */

    /*Bloco responsável por permitir que o link incorpore todo o espaço da DIV*/
    width: 100%;              
    height: 100%;
    text-align: center;
}
.fa-linkedin-in{
    position: absolute;  /* Posiciona o ícone sobre o link invisível */
    top: 12px;  /* Alinha ao topo do link invisível */
    left: 12px;  /* Alinha à esquerda do link invisível */
}
.fa-github{
    position: absolute;
    top: 12px;  /* Alinha ao topo do link invisível */
    left: 12px;  /* Alinha à esquerda do link invisível */
}
.fa-instagram{
    position: absolute;
    top: 12px;  /* Alinha ao topo do link invisível */
    left: 12px;  /* Alinha à esquerda do link invisível */
}
.fa-tiktok{
    position: absolute;
    top: 12px;  /* Alinha ao topo do link invisível */
    left: 12px;  /* Alinha à esquerda do link invisível */
   
}
#livros{
    display: flex;
    margin-top: 10px;  /*Distância da div para os elemntos superiores*/
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 226, 69); /*Altera a cor de fundo*/
    color: white;
    font-weight: bold;
    border-radius: 10px;
    height: 80px;
}

#playlist{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 226, 69); /*Altera a cor de fundo*/
    color: white;
    font-weight: bold;
    border-radius: 10px;
    height: 80px;
}
#linklivros{
    color: inherit;           /* Herda a cor do elemento */
    text-decoration: none;    /* Remove o sublinhado */

    /*Bloco responsável por permitir que o link incorpore todo o espaço da DIV*/
    width: 100%;              
    height: 100%;
    text-align: center;
    /*---------------------------------------------------------------------------*/
}
#linkplaylist{
    color: inherit;            /* Herda a cor do elemento */    
    text-decoration: none;    /* Remove o sublinhado */

    /*Bloco responsável por permitir que o link incorpore todo o espaço da DIV*/
    width: 100%;
    height: 100%;
    text-align: center;
    /*---------------------------------------------------------------------------*/
}

